.saved-movies {
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  /* margin-bottom: 230px; временное решение, не понятно, нужна ли кнопка "еще" на странице saved-movies */
}

.saved-movies__error-message {
  width: 900px;
  font-size: 20px;
  line-height: 1.2;
  margin: 100px auto 150px;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .saved-movies {
    max-width: 768px;
  }

  .saved-movies__error-message {
    width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .saved-movies {
    max-width: 320px;
  }

  .saved-movies__error-message {
    width: 320px;
  }
}