.techs {
  box-sizing: border-box;
  background: #F5F5F5;
}

.techs__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.21;
  letter-spacing: -0.88px;
  border-bottom: solid 1px #000;
  padding-bottom: 23px;
  margin: 0;
}

.techs__subtitle {
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: -0.04em;
  margin: 0 auto;
  padding-top: 90px;
}

.techs__description {
  max-width: 460px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  letter-spacing: -0.04em;
  margin: 0 auto;
  padding-top: 26px;
}

.techs__list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding-top: 100px;
  padding-left: 0;
}

.techs__item {
  min-width: 90px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.04em;
  background: #e8e8e8;
  border-radius: 10px;
  margin-right: 10px;
}

.techs__item:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 1023px) {
  .techs__subtitle {
    padding-top: 80px;
  }

  .techs__list {
    padding-top: 83px;
    padding-left: 0;
  }

  .techs__description {
    font-size: 12px;
    line-height: 1.5;
    padding-top: 22px;
  }

  .techs__item {
    min-width: 84px;
    height: 57px;
  }
}

@media screen and (max-width: 767px) {
  .techs {
    background-color: #fff;
  }

  .techs__title {
    font-size: 18px;
    line-height: 1.21;
    letter-spacing: -0.04em;
    padding-bottom: 28px;
  }

  .techs__subtitle {
    font-size: 30px;
    line-height: 1.21;
    padding-top: 60px;
  }

  .techs__list {
    padding: 83px 0 90px;
  }

  .techs__description {
    max-width: 292px;
    font-size: 11px;
    line-height: 1.45;
    padding-top: 24px;
  }

  .techs__list {
    display: grid;
    grid-template-columns: repeat(2, 84px);
    gap: 10px;
    list-style: none;
    margin: 0 auto;
    padding: 50px 0 0 0;
  }

  .techs__item {
    max-width: 84px;
    height: 57px;
    font-size: 12px;
    line-height: 1.21;
  }
}